name: Publish
on:
  push:
    tags:
      - '*'
jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
          scope: '@choffmeister'
      - run: npm ci
      - run: npm run build
      - run: npm version $VERSION --workspaces
        env:
          VERSION: ${{ github.ref_name }}
      - run: npm publish --access=public --workspaces
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
