name: Publish
on:
  push:
    tags:
      - '*'
permissions:
  contents: read
  packages: write
jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          registry-url: 'https://npm.pkg.github.com'
          scope: '@ownfolio'
      - run: npm ci
      - run: npm run build
      - run: npm version $VERSION --workspaces
        env:
          VERSION: ${{ github.ref_name }}
      - run: npm publish --access=public --workspaces
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
